
html
{
   background: -webkit-radial-gradient(center, ellipse, #430d6d 0%, #000000 100%);
   background: radial-gradient(ellipse at center, #430d6d 0%, #000000 100%);
   height: 100%;
}

.gradient-pattern {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  border: none;
  font: normal 0.5px/normal Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(135deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), -webkit-linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), -webkit-repeating-linear-gradient(-145deg, rgba(145,227,242,1) 0, rgba(143,239,188,0.39) 0, rgba(11,183,163,1) 100%);
  background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), -moz-linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), -moz-repeating-linear-gradient(235deg, rgba(145,227,242,1) 0, rgba(143,239,188,0.39) 0, rgba(11,183,163,1) 100%);
  background: linear-gradient(-45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), linear-gradient(45deg, rgba(0,0,0,0) 25%, rgba(255,255,255,0.2) 25%, rgba(255,255,255,0.2) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgba(255,255,255,0.2) 75%), repeating-linear-gradient(235deg, rgba(145,227,242,1) 0, rgba(143,239,188,0.39) 0, rgba(11,183,163,1) 100%);
  background-position: auto auto, auto auto, 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 200em 200em, 200em 200em, auto auto;
  background-size: 200em 200em, 200em 200em, auto auto;
}

.stage
{
  -webkit-perspective: 1000px;
  width: 200em;
  height: 200em;
  left: 50%;
  top: 50%;
  margin-left: -150em;
  margin-top: -150em;
  position: absolute;
}

.cube *
{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 200%;
  height: 200%;
  border: 2px solid rgba(54, 226, 248, 0.5);
  -webkit-box-shadow: 0 0 5em rgba(0, 128, 0, 0.4);
}

.font
{
  -webkit-transform: translateZ(200em);
}

.back
{
  -webkit-transform: rotateX(180deg) translateZ(200em);
}

.left
{
  -webkit-transform: rotateY(-90deg) translateZ(200em);
}

.right
{
  -webkit-transform: rotateY(90deg) translateZ(200em);
}

.top
{
  -webkit-transform: rotateX(90deg) translateZ(200em);
}

.bottom
{
  -webkit-transform: rotateX(-90deg) translateZ(200em);
}

@-webkit-keyframes spin
{
  from
  {
     -webkit-transform: translateZ(-10em) rotateX(0) rotateY(0deg);
     transform: translateZ(-10em) rotateX(0) rotateY(0deg);
  }

  to
  {
    -webkit-transform: translateZ(-10em) rotateX(360deg) rotateY(360deg);
    transform: translateZ(-10em) rotateX(360deg) rotateY(360deg);
  }
}

.cube
{
  -webkit-animation: spin linear 6s infinite;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
}
